* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.main_header {
  padding: 3vw 4vw;
  width: 100%;
  border-bottom: 1px solid black;
}

.main_header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_header .container .logo {
  cursor: pointer;
}

.main_header .container .search_box {
  margin-right: 3vw;
}

.main_header .container .search_box input {
  outline: none;
  padding: 1vw 3vw;
  border: 0.3vw solid #5e17eb;
  width: 60%;
  color: black;

  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
}

.main_header .container .search_box button {
  width: 30%;
  font-size: 100%;
  border: 0.2vw solid #5e17eb;
  outline: none;
  padding: 1.1vw 2vw;
  cursor: pointer;
  background: #5e17eb;
  color: white;

  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
}

.main_header .container .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_header .container .icon .account {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_header .container .icon .account .user_icon {
  margin-right: 1vw;
  font-size: 2.2vw;
  color: black;
  cursor: pointer;
}

.main_header .container .icon .account p {
  margin-right: 0.5vw;
  margin-top: 0.2vw;
}

.main_header .container .icon .second_icon {
  display: flex;
  margin-right: 0.5vw;
  justify-content: space-between;
}

.main_header .container .icon .second_icon .link {
  margin-right: 0.5vw;
  font-size: 2.2vw;
  cursor: pointer;
  color: #5e17eb;
}

.header {
  width: 100%;
  padding: 2vw 3vw;
  background-color: #5e17eb;
  color: white;
}

.header .container {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header .container .nav ul {
  display: flex;
}

.header .container .nav ul li {
  margin-left: 2vw;
  list-style: none;
  color: white;
}

.header .container .nav ul li .link {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.header .container .nav ul li .link:hover {
  color: #ffffff;
  border: 0.3vw solid white;
  border-radius: 0.3vw;
  padding: 1vw;
}

.header .container .auth {
  margin-right: 0.5vw;
  font-size: 2vw;
  cursor: pointer;
}

.header .container .auth button {
  margin-right: 2vw;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}
